@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.76923vw;
  font-family: BlinkMacSystemFont;
  font-size: clamp(6px, 0.76923vw, 10px);
  margin: 0;
}
@media print, screen and (max-width: 641px) {
  html {
    font-size: 1.5625vw;
    font-size: clamp(6px, 1.5625vw, 10px);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

table, th, td {
  border-collapse: collapse;
  padding: 10px;
}

th {
  border: 2px solid white;
}

.scrollbar-container-other::-webkit-scrollbar {
  display: none;
}

.scrollbar-container::-webkit-scrollbar {
  width: 5px; 
  height: 20px;
}

/* Track */
.scrollbar-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.scrollbar-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  display: block;
  background: #555; /* Color of the scrollbar handle when hovered */
}

.scrollbar-x-container::-webkit-scrollbar {
  width: 20px; 
  height: 5px;
}

/* Track */
.scrollbar-x-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.scrollbar-x-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
.scrollbar-x-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  display: block;
  background: #555; /* Color of the scrollbar handle when hovered */
}

